body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to left, #198dd6, #34ddab );
    font-family: Arial, sans-serif;
}
.box {
    background-color: bisque;
    color: black;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#count {
    padding: 10px;
    font-size: 100px;
    margin: 0;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}   
.add{
    background-color: #00b37d;
}
.save{
    background-color: #076abb;
}
.add:hover{
    
    scale: 1.1;
}
.save:hover{
    scale: 1.1
}
#passangers{
    font-size: 30px;
}